.errorMessage {
  color: red;
  position: absolute;
  font-weight: bold;
  bottom: 0;
}

.label {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.5;
  padding-left: 0.7rem;
}

.oval {
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oval select {
  background: #cfd0da;
  padding: 1rem 2rem 1rem 4rem;
  border: 0.2rem #e8f0fe solid;
  border-radius: 1rem;
  height: 5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  width: 100%;
}

.oval .icon {
  opacity: 0.6;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
}
option {
  color: black;
}
